@import './_variables';
@import './_breakpoints';

#footer{
    margin-top: 100px;
    background: #FFF;
    position: relative;
    z-index: 9999;
    padding-top: 15px;

    @media screen and (max-width: $medium){
        margin-top: 0;
    }
    
    .footer--logo{
        @media screen and (max-width: $medium){
            text-align:center;
            margin-top: 30px;
        }

        img {
            width: 200px;
            height: auto;
            @media screen and (max-width: $medium){
                width: 120px;
            }
        }
    }

    .footer--container {
        @media screen and (min-width: $medium){
            margin-bottom: 50px;
            width: 85%;
            max-width: 100%;
        }

        .footer--socialNetwork {
            margin-top: 40px;

            @media screen and (max-width: $medium){
                text-align:center;
            }
    
            div{
                display: inline-block;
                @media screen and (max-width: $medium){
                    margin-left: 20px!important;
                    margin-right: 20px!important;
                }
    
                &.right{
                    margin-left: 100px;
                }
    
                ul {
                    display: inline-block;
                    padding: 0;
        
                    li{
                        list-style: none;

                        @media screen and (max-width: $medium){
                            text-align: left;
                        }
        
                        a{
                            color: $black;
                            font-size: 14px;
                            margin-top: 10px;
                            display: inline-block;
                            background-size: 15px;
                            background-repeat: no-repeat;
                            background-position-x: left;
                            background-position-y: center;
                            padding-left: 20px;
    
                            &.sn--facebook{
                                background-image: url(#{$icon-path}icon-fb.svg);
                            }
                            &.sn--linkedin{
                                background-image: url(#{$icon-path}icon-linkedin.svg);
                            }
                            &.sn--youtube{
                                background-image: url(#{$icon-path}icon-yt.svg);
                            }
                            &.sn--blog{
                                background-image: url(#{$icon-path}icon-blog.png);
                            }
                            &.sn--instagram{
                                background-image: url(#{$icon-path}icon-ig.png);
                            }
                            &.sn--pinterest{
                                background-image: url(#{$icon-path}icon-pin.png);
                            }
                            &.sn--telefone{
                                background-image: url(#{$icon-path}icon-phone.png);
                            }
                        }
                    }
                }
            }
        }

        .newsletter--container__footer{
            width: 500px;
            float: right;

            @media screen and (max-width: $medium) {
                width: 100%;
                float: initial;
                margin-top: 40px;
            }

            *{
                font-family: $font2;
                text-align: center;
            }
    
            h3{
                font-size: 16px;
    
                span{
                    font-weight: bold;
                    font-style: italic;
                }
            }
    
            p{
                font-family: $font;
                font-size: 14px;
            }
    
            .newsletter--input {
                border: $border;
                height: 40px;
                width: 100%;
                border-radius: 20px;
                position: relative;
    
                input{
                    position: absolute;
                    left: 15px;
                    top: 4px;
                    height: 30px;
                    width: 300px;
                    border: 0;
                    outline: none;
                    font-size: 14px;
                    text-align: left;
                }
    
                #btnAcceptNewsletter {
                    background: $black;
                    color: $white;
                    font-size: 12px;
                    height: 30px;
                    position: absolute;
                    right: 5px;
                    top: 4px;
                    border-radius: 15px;
                    line-height: 30px;
                    width: 150px;
                    text-align: center;
                    border: 0;
                    transition: $transition;
                    
                    &.success{
                        width: calc(100% - 10px);
                        background: $success;
                    }
                }
            }
        }

        .container--institucional {
            margin-top: 50px;
            float: right;

            @media screen and (max-width: $medium){
                float: none;
            }

            div{
                display: inline-block;
                vertical-align: top;
                margin-left: 40px;

                @media screen and (max-width: $medium) {
                    margin-left: 0;
                    display: block;
                    text-align: center;

                    ul{
                        overflow: hidden;
                        max-height: 0;
                        opacity: 0;
                        transition: $transition;

                        &.active{
                            max-height: 999px;
                            opacity: 1;
                        }
                    }
                }

                &.payment--methods{
                    margin: 0;
                    display: block!important;
                    margin-top: 30px;
                    
                    img{
                        width: 45px;
                        margin: 5px 2px;
                    }
                }

                h3 {
                    font-size: 16px;
                    font-weight: bold;

                    @media screen and (max-width: $medium){
                        &.plus-symbol::after{
                            content: "+";
                            margin-left: 5px;
                        }

                        &.plus-symbol.active::after{
                            content: "-";
                        }
                    }
                }

                ul{
                    padding: 0;

                    li{
                        list-style: none;
                        a{
                            color: $black;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .footer--credits {
        background: #F8F8F8;
        text-align: center;
        padding: 20px 0 40px;

        @media screen and (max-width: $medium) {
            padding: 20px 15px 40px;
        }

        .footer--credits__item {
            display: inline-block;
            vertical-align: top;
            margin: 0 30px;
            text-align: left;
            height: auto;

            @media screen and (max-width: $medium) {
                margin: 0;

                &.protarget{
                    float: left;
                }
                &.linxcommerce{
                    float: right;
                }
                &.lets-encrypt{
                    width: 100%;
                    text-align: left;
                }
            }

            span{
                font-family: $font;
            }

            &.protarget{
               img{
                width: 65px;
               }
            }
            &.linxcommerce{
                img{
                    width: 160px;
                    position: relative;
                    top: 8px;
                }
            }
            &.lets-encrypt{
                span{
                    color: transparent;
                }
                img{
                    width: 160px;
                    position: relative;
                    bottom: 2px;
                }
            }

            span {
                display: block;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
}