$light-grey: #F5F5F5;
$soft-grey: #999;
$black: #000;
$white: #FFF;
$success: #28DE4B;
$font: 'Lato', sans-serif;
$border: 1px solid #000;
$soft-border: 1px solid #CECECE;
$font2: 'Josefin Sans', sans-serif;
$transition: all .3s ease-in;
